
.NavBarTittle{
    text-align: left;
    font-family: Inter,sans-serif;
    font-size: 21px;
    font-weight: 800;
    color: #0A1222;
}
.NavLinks{
    flex-direction: row;
    font-family: Inter,sans-serif;
    font-size: 12px;
    list-style-type: none;
    margin: 0px 10px 0px 100px;
    padding: 6px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.NavLinks > li > a{
    text-decoration: none;
    color: black;
    padding: 8px;
}
.NavLinks > li >a:hover{
    color: #034BFF;
    text-decoration: underline;
}
.Header{
    height: 52px;
    display: flex;
    justify-content: space-between;
}
.IconAndButton{
    flex-direction: row;
    margin-right: 20px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;    
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 0px 10px;
    margin: 0px 20px;;
}
.SearchIcon{
    width: 18px;
    height: 18px;
}
.Rejoindrelink{
    padding: 13px 16px;
    color: white;
    background-color: #034BFF;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    font-family: Inter,sans-serif;
    text-decoration: none;
}
.BlueSmallText{
    color: #034BFF;
    font-family: Label,sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.RejoindreButton:hover{
    color: white;
    text-decoration: underline;
}
.MainText{
    padding-left: 35px;
    padding-right: 35px;
}
.ThickBigText{
    font-family: Inter,sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin: 0px 0px 35px 0px;
}
.Formulaire{
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.FormulaireInput::placeholder{
    opacity: 0.5;
}
.FormulaireInput>input{
    width: 620px;
    height: 50px;
    margin: -10px 1px 20px 1px;
    border-radius: 10px;
    border-color: #48484a;
    border: none;
    border: rgba(115, 116, 117, 0.399) 2px solid;
    padding-left: 15px;
}
.FormulaireButton{
    padding: 13px 16px;
    color: white;
    background-color: #5E5BFF;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    font-family: Inter,sans-serif;
    height: 50px;
    width: 620px;
    text-align: left;
    font-style: italic;
}
.FooterTittle{
    color: white;
    font-family: Inter,sans-serif;
    font-size: 24px;
    font-weight: 800;
    height: 29px;
    width: 129;
    padding: 0px 0px 0px 55px;
}
.UnderTittleText{
    color: #818284;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 46px;
    width: 330px;
    padding: 0px 0px 30px 55px;
}
.FOOTER{
    background-color: black;
}
#Explorer{
    color: lime;
    font-size: 13px;
    height: 17px;
    width: 58px;
}
.Explore>a{
    flex-direction: column;
    text-decoration: none;
    color: #818284;
    font-size: 13px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    height: 16px;
    width: 51px;
}
#SeRetrouver{
    color: lime;
    font-size: 13px;
    height: 17px;
    width: 58px;
}
.Others>a{
    flex-direction: column;
    text-decoration: none;
    color: #818284;
    font-size: 13px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    height: 16px;
    width: 51px;
}
.FooterThings{
    flex-direction: row;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    justify-content: space-around;
    gap: 250px;
}

.Footer{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-right: 180px;
}
.FooterUnderText>p{
    color: #818284;
    font-family: Inter,sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.FooterUnderText{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-bottom: 10px;
    gap: 300px;
}
/* =========================================================================================================================================================================================== */
.HeroCampusLife{
    background-color: #08111D;
    height: 461px;
}
body{
    margin: 0px;
    padding: 0px;
}
#Campus{
    color: white;
    font-size: 76px;
    font-weight: 700;
    padding-left: 61px;
    margin: 40px 20px 0px 0px;
    font-family: Inter, sans-serif;
}
#Life{
    color: rgb(5, 95, 250);
    font-size: 88px;
    font-weight: 800;
    padding-left: 61px;
    margin: 0px 20px 0px 0px;
    font-family: Inter, sans-serif;
}
#TextUnderTheBig2{
    padding-left: 61px;
    font-style: 26px;
    font-weight: 800;
    color: white;
    font-family: Inter, sans-serif;
    margin: 0px 20px 10px 0px;
}
#HeroCampusLifeText1{
    color: white;
    padding-left: 61px;
    height: 51px;
    width: 300px;
    margin: 0px 0px 15px 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: Inter, sans-serif;
}

#HeroCampusLifePetitText{
    color: white;
    padding-left: 181px;
    font-family: Inter, sans-serif;
    font-size: 11px;
    margin: 30px 13px 15px 0px;
}
.HeroCampusLifeGirlPic{
    width: 589px;
    height: 461px;
}
.MainIndex{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #08111D;
}
.waves{
    color: #C7F64A;
    padding-left: 50px;
}
.BigText{
    font-style: Inter,sans-serif;
}
.TheBig2{
    line-height: 1;
}
.HeroCampusLifeButtons{
    padding-left: 61px;
}
#ButtonDécouvrirLeCampus{
    background-color: #034BFF;
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 12px;
    font-weight: 700;
    border-width: 0px;
}
#VoirLesEvénements{
    background-color: #034aff00;
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 12px;
    font-weight: 700;
    border-width: 1px;
    border-color: rgb(0, 191, 255);
}
