
.NavBarTittle{
    text-align: left;
    font-family: Inter,sans-serif;
    font-size: 21px;
    font-weight: 800;
    color: #0A1222;
}
.NavLinks{
    font-family: Inter,sans-serif;
    font-size: 12px;
    list-style-type: none;
    margin: 0px 10px;
    padding: 6px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.NavLinks > li > a{
    text-decoration: none;
    color: black;
    padding: 8px;
}
.NavLinks > li >a:hover{
    color: #034BFF;
    text-decoration: underline;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 0px 10px;
    margin: 0px 20px;;
}
.SearchIcon{
    width: 18px;
    height: 18px;
}
.RejoindreButton{
    padding: 13px 16px;
    color: white;
    background-color: #034BFF;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
}
.BlueSmallText{
    color: #034BFF;
    font-family: Label,sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.RejoindreButton:hover{
    color: white;
    text-decoration: underline;
}
.MainText{
    padding-left: 35px;
    padding-right: 35px;
}
.ThickBigText{
    font-family: Inter,sans-serif;
    font-size: 30px;
    font-weight: 900;
}